*{
  box-sizing: border-box;
}

body{
  margin: 0;
}


header{  
  background-color: black;   
  min-height: 4rem; 
  position: fixed;
  top:0;
  width:100%;
  height: 80px;
  align-items: center;
  line-height: 40px;
}


.productsType{
  margin-left:40px; 
}

.productType{
  cursor: pointer;
  display: inline;
  padding: px;
  font-size: 16px;
  text-align: center;
  padding-bottom: 0;  
}

.text{
  text-decoration: none;
  color:white; 
  margin-right:60px;
  padding-bottom: 0; 
  
}

a.text:hover, li:hover{
  color: #cbbde2;
}


 .container{  
  padding: 0;
  margin-top:130px;
  
}

.products{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: flex-start;
  align-content: space-evenly;

  
}
.product{
    padding: 10px;
    flex-basis: 33%;
    text-align: center;
    margin-bottom: 40px;
    
}
.product img {
    width: 70%;
    height: auto;
    
}

.right {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 80px;
    right: 0;
    background-color: #f4f6f9;
    overflow-x: hidden;
    padding-top: 20px;
}



.addToCart {
  background-color: lightgrey;
  border:none;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 900;
  width: 75%;
  cursor: pointer;
  
}

.listItems {
  margin: 0;
  padding: 0;
} 

#order{
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 900;
  width: 60%;
  cursor: pointer;
  margin-left:50px;
  margin-top: 50px;
}
